@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-pink: hsl(333, 80%, 67%);
    --secondary-magenta-dark: hsl(303, 10%, 53%);
    --secondary-magenta-light:  hsl(300, 24%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 2rem 0rem 0rem 0rem;
}

/* TOP SECTION */
.top-container {
    display: flex;
    justify-content: space-around;
}

.top-left {
    width: 30%;
}

.top-left h1 {
    color: var(--primary-magenta);
    font-size: 2.5rem;
}

.top-left p {
    color: var(--primary-pink);
    margin-top: 1rem;
}   

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-right .star {
    display: flex;
    padding: 1rem;
    background-color: var(--secondary-magenta-light);
    color: var(--primary-magenta);
    border-radius: 0.5rem;
} 

.top-right .star-two {
    transform: translateX(-3rem);
}

.top-right .star-one {
    transform: translateX(-6rem);
}

.top-right .star .star-img {
    margin: 0rem 0.5rem;
}

.top-right .star .star-text {
    margin: 0rem 3.5rem 0rem 1rem;
}


/* BOTTOM SECTION */
.bottom-container {
    padding: 4rem 5rem;
    display: flex;
    justify-content: space-evenly;
}

.bottom-container .card {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary-magenta);
    width: 330px;
    color: white;
}

.card .card-profile {
    display: flex;
}

.card-profile img {
    border-radius: 50%;
    width: 2.5rem;
}

.card-profile .card-profile-text {
    padding: 0rem 1rem;
    transform: translateY(0.3rem);
}

.card-profile-text span {
    color: var(--primary-pink);
    font-size: 0.7rem;
}

.card .card-text {
    padding: 2rem 0rem 0rem 0rem;
}

.bottom-container .card-two {
    transform: translateY(1rem);
}

.bottom-container .card-three {
    transform: translateY(2rem);
}

/* FOOTER */
.attribution {
    margin: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .top-container {
        display: flex;
        flex-direction: column;
    }

    .top-container .top-left {
        /* text-align: center; */
    }

    .top-left h1 {
        font-size: 1.5rem;
    }

    .top-right .star {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-right .star-two {
        transform: translateX(0);
    }
    
    .top-right .star-one {
        transform: translateX(0);
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        justify-content: center;
    }

    .bottom-container .card {
        /* width: 80%; */
    }

    .attribution {
        margin-top: 3rem;
    }
}